<!DOCTYPE html>
<!--TODO-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}"></title>
</head>
<body>
<p th:text="'ФИО: ' + ${person.getName()}">name</p>
<p th:text="'Год рождения: ' + ${person.getYear()}">year</p>
<div th:if="${personalBooks.isEmpty()}">
    <p >Человек пока не взял ни одной книги</p>
</div>
<div th:unless="${personalBooks.isEmpty()}">
    <br/>
    <b>Книги:</b>
    <div th:each="book : ${personalBooks}">
        <p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">book</p>
    </div>
</div>
<a th:href="@{/people/{id}/edit(id=${person.getPerson_id()})}">Редактировать профиль</a>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}">
    <input type="submit" value="Удалить профиль">
</form>
</body>
</html>