<!DOCTYPE html>
<!--TODO-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skin bag</title>
</head>
<body>

<p th:text="'Name: ' + ${person.getName()} + ', ' + ${person.getAge()}">Name</p>
<p th:text="'ID: '+ ${person.getId()}">ID</p>
<p th:text="'Email: ' + ${person.getEmail()}">Email</p>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit profile</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Activate trash disposal system">
</form>
</body>
</html>